.loginbox{
  .ant-input,.ant-input-password{
    background-color:rgba(255,255,255,0);
    border-color:#1890ff;
    color:#fff;
    height: 38px;
  }
  //控制输入框颜色
  .ant-input::-webkit-input-placeholder{
    color:rgba(24,144,255,.5);
  }
  .ant-input-password .ant-input{
    height:28px;
  }
  //密码框眼睛图标控制
  .ant-input-password-icon.anticon,.ant-input-password-icon:hover{
    color:#1890ff;

  }
  //验证码盒子
  .CaptchaBox{
    display:flex;
    .CaptchaImg{
      margin-left: 20px;
      cursor: pointer;
    }
  }
  //登录按钮
  .login{
    height:38px;
  }


}


